<main>
    <div class="row">
        <div class="col-12">
            {{#with navigation}}
                <div class="row">
                    <div class="nav">
                        {{#each links}}
                            <a href={{href}} target="_blank" 
                            class="nav-item nav-link">
                            {{text}}</a>
                        {{/each}}
                        <a href="#"class="nav-link nav-item disabled">Disabled</a>
                    </div>                
                </div>
            {{/with}}
        </div>
        {{>line}}
        <div class="col-12 nav">
            {{#with formBlock}}
            <div class="col-9">
                <div class="row">
                    <div class="h3">{{header}}</div>
                    <div>
                        {{#with rating}}
                            <div>{{title}}:{{value}}</div>
                        {{/with}}
                    </div>
                    <div class="mt-3">
                        {{#with actionBlock}}
                            <div class="nav nav-tabs">
                                {{#each tabs}}
                                    <div class="col-4 text-center">
                                        <a {{#if isActive}}class="nav-link nav-item active"{{/if}}
                                        href="#" class="nav-link nav-item">
                                        {{text}}</a>
                                    </div>
                                {{/each}}
                            </div>
                            {{>line}}
                            <div class="card p-3">
                                {{#with report}}
                                    <div>{{title}}</div>
                                    <div class="mt-2">
                                        {{#with button}}
                                            <a href={{link}} target="_blank" 
                                            class="btn btn-secondary">{{text}}</a>
                                        {{/with}}
                                    </div>
                                {{/with}}
                            </div>
                        {{/with}}
                    </div>
                    {{>line}}
                    <div>
                        {{#with feedbackBlock}}
                            <div class="h3">{{title}}</div>
                            <div>
                                {{#each buttons}}
                                    <a href={{link}} target="_blank"
                                    {{#if isWarning}}class="btn btn-warning"{{/if}}
                                    {{#if isSuccess}}class="btn btn-success m-2"{{/if}}
                                    {{#if isDanger}}class="btn btn-danger"{{/if}}
                                    >{{text}}</a>
                                {{/each}}
                            </div>
                        {{/with}}                        
                    </div>
                    {{>line}}                               
                </div> 
            </div> 
            <div class="col-3 text-center p-2">
                {{#with goodsInfo}}
                    <div class="card m-2">
                        <img src={{photo}} class="m-2">
                        <div class="m-3 h6">{{name}}</div>
                    </div>
                    <div class="card m-2 p-2">
                        <div class="h6 m-1">{{price}}</div> 
                        {{#if inMarket}}
                            <div class="m-1">Є в наявності</div>
                        {{/if}} 
                        {{#each buttons}}
                            <a href={{link}} target="_blank"
                            {{#if isPrimary}}class="btn btn-primary m-1"{{/if}}
                            {{#if isSecondary}}class="btn btn-secondary m-1"{{/if}}
                            >{{text}}</a>
                        {{/each}}                      
                    </div>
                    <div class="card">
                        {{#with seller}}
                            <div>{{title}} : <b>{{value}}</b></div>
                        {{/with}}
                    </div>
                {{/with}}
            </div>              
            {{/with}}                     
        </div>
       
        <div class="card p-2">
            {{#each reviewList}}
                <div class="card p-2 mb-2">
                    <div class="card-header">
                            {{#with title}}
                            <div class="h5">{{userName}}</div>
                            <div>{{caption}}</div>
                            <div>{{date}}</div>
                        {{/with}}
                    </div> 
                    <div class="card-body">
                        {{#with reviewBody}}
                            <div class="m-1">
                                {{#with seller}}
                                    <div>{{title}} : {{value}}</div>
                                {{/with}}
                            </div>
                            <div class="m-1">
                                {{#with rating}}
                                    <div>{{title}} : {{value}}</div>
                                {{/with}}
                            </div>
                            <div class="m-1">
                                {{#each text}}
                                    <div>{{this}}</div>
                                {{/each}}
                            </div>
                            <div class="m-1">
                                {{#with advantages}}
                                    <div><b>{{title}}</b> : {{text}}</div>
                                {{/with}}
                            </div>
                            <div class="m-1">
                                {{#with disadvantages}}
                                    <div><b>{{title}}</b> : {{text}}</div>
                                {{/with}}
                            </div>
                            <div class="m-1">
                                {{#each images}}
                                    <img src={{this}}>
                                {{/each}}
                            </div>
                            <div>
                                {{#each coments}}
                                    <div class="card m-1 p-1">                                                    
                                        <div class="h6 m-1">{{userName}}</div>
                                        <div class="m-1">{{date}}</div>
                                        <div class="m-1">{{text}}</div>                                                    
                                    </div>                                                
                                {{/each}}
                            </div>
                        {{/with}}                                    
                    </div>                              
                </div>
            {{/each}}
        </div> 
        <div class="card text-center text-bg-success p-1 mt-3 mb-3">
            {{#with service}}
                <div class="h2">{{title}}</div>
                <p>{{description}}</p>
                <div class="mb-3">
                    {{#each buttons}}
                        <a href={{link}} target="_blank" 
                        class="btn btn-primary">
                            {{text}}
                        </a>
                    {{/each}}
                </div>
            {{/with}}                        
        </div> 
        {{>line}}
        <div class="nav">
            {{#each footer}}
                <div class="col-2">
                    {{#each this}}
                       {{#if @last}}
                            <a href={{link}} target="_blank" class="nav-item nav-link disabled">{{text}}</a>
                        {{else}}
                            <a href={{link}} target="_blank" class="nav-item nav-link">{{text}}</a>
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</main>